<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    
    <script>
    var app = angular.module('app', []);

    app.run(function($log) {
        $log.debug('App Run');
    });
    app.factory('device',['$http','$q', function($http,$q){
    //Factory to recevie user device data and readings based on user
    return{

        all:function(api){
                var deferred = $q.defer();
                $http({
                    url:'http://52.62.42.42/api/dpu/'+api,              
                    method:'GET'
                }).then(function(response){
                    deferred.resolve(response.data)
                },function(reject){
                    deferred.reject(reject);
                });
                return deferred.promise
            },
      submit : function(text){
        
      var deferred = $q.defer();      
      $http({
        //url:'http://www.smartafarm.com.au/api/'+api,
        url:'http://52.62.42.42/api/dpu/push',
        headers: { 'Content-Type': 'text/html' },
        method:'POST',
        data:({'query' : text})
      }).then(function(response){
        deferred.resolve(response);
      },function(response){       
        deferred.reject("Failed");
      });
      return deferred.promise;
      }
              
     }  
    }])// eof getdevices


    app.controller('appCtrl', function($scope,$http,device) {
      
      device.all('fetch').then(function(data){
        $scope.data = data
      })
    $scope.postData = function(){
      device.submit($scope.pushtext)
    }      
    });
    </script>
</head>

<body ng-app="app" ng-controller="appCtrl">
      <div>
    <div layout="row">
    <p ng-repeat = "line in data track by $index">{{line}}</p>
        
  </div>
<!-- <label>Push data</label>
<input ng-model="pushtext">
<button ng-click="postData()">post</button> -->
  </body>

</html>