<nav class="navbar navbar-default" ng-controller="navCtrl"  >
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Smartanker</a>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav">        
        <li ui-sref-active="active"><a  ui-sref="dashboard.dpu">DPU</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.cip">CIP</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.tloc">TLOC</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.route.start">ROUTE</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.supplier">SUPPLIER</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.labr">LABR</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.device">DEVICE</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.driver">DRIVER</a></li>
        <li ui-sref-active="active"><a  ui-sref="dashboard.viewdata">RAW DATA</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>

  