<h1>Route Data</h1>
<uib-accordion close-others="oneAtATime" >
    <uib-accordion-group heading="+ Add Record" is-open="false" >
        <form class="form-horizontal" name="newentry" id="newentry" style="font-size:85%" novalidate>        

            <div class="col-md-12">
                <div class="row">
                    <md-datepicker style="margin-top:32px" class="col-md-3" ng-model="formdata.time" md-placeholder="Enter date"></md-datepicker>
    
                
                </div>
                <md-input-container class="col-md-3">
                    <label>Device ID</label>
                    <input type="text" required name="did" ng-model="formdata.did">              
                </md-input-container>

                <md-input-container class="col-md-2">
                    <label>Route id</label>
                    <input required name="routeid" ng-model="formdata.routeid">              
                </md-input-container>
       
                <md-input-container class="col-md-2">
                    <label>Supplier</label>
                    <input required name="supplier" ng-model="formdata.supplier">             
                </md-input-container>

                <md-input-container class="col-md-2">
                    <label>Supplier Crn</label>
                    <input required name="suppliercrn"   ng-model="formdata.suppliercrn">             
                </md-input-container>
            </div>
           <div class="row">
            <div class="form-group col-md-12">
                 <div  class="col-md-3">
                   <button type="submit" class="btn btn-success" ng-click="ok()" ng-disabled = "newentry.$invalid"> + Add Record</button>
                 </div>          
               </div>
           </div>
  </form>
    </uib-accordion-group>
</uib-accordion>

<div  class="col-md-12 clearfix ">
    <button type="submit" class="pull-right btn btn-danger" ng-click="delete()"  style="margin-bottom: 10px;"> Delete Record</button>                   
 </div>          
<div class="col-md-12 clearfix well">

<div class="row" style="background-color:#eee;margin-top:10px">         
     <div  
     ui-grid="gridOptions" 
     ui-grid-selection 
     ui-grid-resize-columns 
     ui-grid-pagination
     ui-grid-edit
     class="myGrid" style="margin-top: 20px;"></div>
 </div>
</div> 